<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Si el archivo o directorio solicitado existe, permite la solicitud normal
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # Redirige todas las demás solicitudes a index.html para que React Router pueda manejar el enrutamiento
  RewriteRule ^ /index.html [L]
</IfModule>
